# Database
DB_PASSWORD=123
DB_DATABASE=LinkVault

# Backend
JWT_SECRET=dev_super_secret_jwt_key_123456789
ENCRYPTION_KEY=32_char_secret_key_for_encryption!!

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5000/api